.boxs .box[data-v-ab1e4d37] {
    margin-bottom: .32rem
}

.boxs .inp-con[data-v-ab1e4d37] {
    display: flex
}

.boxs .inp-con .inp[data-v-ab1e4d37] {
    height: 1.04rem;
    background: #f5f5f5;
    border-radius: .16rem;
    padding: .3rem;
    min-width: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: .28rem;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: .2rem;
    border: .02rem solid #7a7a78;
    background: #fff
}

.boxs .inp-con .inp[data-v-ab1e4d37]:focus-within {
    border-color: #000
}

.boxs .inp-con .inp[data-v-ab1e4d37]::placeholder {
    font-weight: 400;
    color: #c6c6ca
}

.boxs .inp-con .inp input[data-v-ab1e4d37] {
    min-width: 0;
    flex: 1;
    color: #000;
    font-size: .28rem;
    font-weight: 500
}

.boxs .inp-con .inp input[data-v-ab1e4d37]::placeholder {
    font-weight: 400;
    color: #c6c6ca
}

.boxs .title[data-v-ab1e4d37] {
    margin-bottom: .16rem;
    font-size: .28rem;
    font-weight: 400;
    color: #000
}

.bot[data-v-ab1e4d37] {
    padding-top: .8rem;
    padding-bottom: .4rem
}

.tips[data-v-ab1e4d37] {
    margin-top: .4rem
}

.tips .tip-title[data-v-ab1e4d37] {
    margin-bottom: .16rem;
    display: flex;
    align-items: center;
    color: #000;
    font-size: .3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1em
}

.tips .tip-title img[data-v-ab1e4d37] {
    margin-right: .08rem;
    width: .32rem;
    height: .32rem;
    vertical-align: middle
}

.tips .tip-desc[data-v-ab1e4d37] {
    color: #828284;
    font-size: .26rem;
    font-style: normal;
    font-weight: 400;
    line-height: .36rem
}

.tip1[data-v-ab1e4d37] {
    margin-bottom: .32rem
}

.tip1 .flex[data-v-ab1e4d37] {
    display: flex;
    justify-content: space-between;
    padding: .06rem 0
}

.pop_type[data-v-ab1e4d37] {
    padding: 0 .32rem .32rem
}

.pop_type .name[data-v-ab1e4d37] {
    text-align: center;
    font-size: .32rem;
    font-weight: 600;
    padding: .32rem 0
}

.pop_type .item[data-v-ab1e4d37] {
    border-bottom: .02rem solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .24rem 0;
    font-size: .28rem
}
