.page[data-v-4bfacc78] {
    background: #fefefa !important
}

h1[data-v-4bfacc78] {
    margin-top: .24rem;
    margin-bottom: .32rem;
    text-align: left;
    font-size: .48rem;
    color: #000;
    font-family: PingFang SC;
    font-size: .32rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.desc[data-v-4bfacc78] {
    padding-bottom: .4rem;
    color: #20252f;
    line-height: .42rem;
    color: #222;
    font-family: PingFang SC;
    font-size: .3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.desc[data-v-4bfacc78] img {
    max-width: 100%
}
