.item[data-v-01110b5f] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem .28rem;
    border-radius: .32rem;
    border: .02rem solid #7a7a78;
    background: #fff;
    margin-bottom: .24rem
}

.item .left[data-v-01110b5f] {
    display: flex;
    flex-direction: column
}

.item .left .type[data-v-01110b5f] {
    color: #000;
    font-size: .28rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1em
}

.item .left .time[data-v-01110b5f] {
    margin-top: .16rem;
    color: #c2c2c2;
    font-size: .24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1em
}

.item .right[data-v-01110b5f] {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.item .right .amount[data-v-01110b5f] {
    color: #000;
    text-align: right;
    font-size: .28rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1em
}

.item .right .status[data-v-01110b5f] {
    margin-top: .16rem;
    color: #20252f;
    text-align: right;
    font-size: .24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    display: flex;
    align-items: center
}

.item .right .status.processing[data-v-01110b5f] {
    color: #f4ae00
}

.item .right .status.dismissed[data-v-01110b5f] {
    color: #e62323
}

.item .right .status.completed[data-v-01110b5f] {
    color: #828284
}

.item .right .status .btn[data-v-01110b5f] {
    color: #dcfd52;
    border-radius: .26rem;
    padding: .12rem .16rem;
    background: #000
}

.page[data-v-38c4ffa9] {
    background: #fefefa !important
}

.tabs-con[data-v-38c4ffa9] {
    margin-top: -.1rem;
    padding-bottom: .2rem;
    border-radius: .47rem;
    background-color: #fefefa
}

.tabs-con[data-v-38c4ffa9] .van-tabs {
    padding: .04rem;
    border-radius: .44rem;
    border: .02rem solid #7a7a78;
    background: #fff
}

.tabs-con[data-v-38c4ffa9] .van-tabs--line .van-tabs__wrap {
    height: .64rem
}

.tabs-con[data-v-38c4ffa9] .van-tabs__line {
    display: none
}

.tabs-con[data-v-38c4ffa9] .van-tab {
    color: #848e9c;
    font-weight: 400
}

.tabs-con[data-v-38c4ffa9] .van-tab--active {
    color: #000;
    text-align: center;
    font-family: PingFang SC;
    font-size: .28rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: .44rem;
    border: .02rem solid #7a7a78;
    background: #dcfd52
}

.tabs-con .voList-active[data-v-38c4ffa9] {
    margin-top: .32rem;
    display: flex;
    align-items: center
}

.tabs-con .voList-active .name[data-v-38c4ffa9] {
    color: #828284;
    font-size: .28rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1em
}

.tabs-con .voList-active .val[data-v-38c4ffa9] {
    margin-left: .16rem;
    color: #000;
    font-size: .28rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    display: flex;
    align-items: center
}

.tabs-con .voList-active .val .icon[data-v-38c4ffa9] {
    margin-left: .08rem
}
