.quantify-info[data-v-15322fef] {
    margin-bottom: .32rem;
    background: #fff;
    border-radius: .24rem
}

.quantify-info .info-card[data-v-15322fef] {
    width: 100%;
    border-radius: .32rem;
    background: #000;
    padding: .02rem
}

.quantify-info .info-card .lists[data-v-15322fef] {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.quantify-info .info-card .lists .name[data-v-15322fef] {
    text-align: center;
    width: 32.33%
}

.quantify-info .info-card .lists .name .n[data-v-15322fef] {
    color: #828284;
    font-family: PingFang SC;
    font-size: .24rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: .24rem !important;
    margin-bottom: .16rem
}

.quantify-info .info-card .lists .name .s[data-v-15322fef] {
    color: #000;
    font-family: PingFang SC;
    font-size: .32rem !important;
    font-style: normal;
    font-weight: 500;
    line-height: .32rem !important
}

.quantify-info .info-card .time[data-v-15322fef] {
    padding: .08rem .08rem .2rem;
    color: #1d2631;
    font-size: .28rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    border-radius: .32rem;
    background: #dcfd52 url(/assets/bj3-AxdYu3Ny.png) no-repeat bottom right;
    background-size: 40% auto;
    padding: .32rem .28rem
}

.quantify-info .info-card .time .tis[data-v-15322fef] {
    display: flex
}

.quantify-info .info-card .time .name .n[data-v-15322fef] {
    color: #828284;
    font-family: PingFang SC;
    font-size: .24rem;
    font-style: normal;
    font-weight: 400
}

.quantify-info .info-card .time .name .s[data-v-15322fef] {
    color: #000;
    font-family: PingFang SC;
    font-size: .64rem;
    font-style: normal;
    font-weight: 500;
    line-height: .64rem;
    margin-top: .16rem
}

.quantify-info .info-card .time img[data-v-15322fef] {
    margin-right: .12rem;
    width: .28rem;
    height: .28rem
}

.quantify-info .info-card .card-con[data-v-15322fef] {
    border-radius: .2rem;
    display: flex;
    flex-wrap: wrap;
    padding: .2rem 0
}

.quantify-info .info-card .card-con .item[data-v-15322fef] {
    flex: 0 0 auto;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    padding: .15rem
}

.quantify-info .info-card .card-con .item .name[data-v-15322fef] {
    margin-top: .16rem;
    color: #828284;
    text-align: center;
    font-size: .24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em
}

.quantify-info .info-card .card-con .item .val[data-v-15322fef] {
    color: #fff;
    text-align: center;
    font-size: .32rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    min-height: 1em
}

.quantify-info .info-bot[data-v-15322fef] {
    padding: .32rem .24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .32rem;
    border: .02rem solid #7a7a78;
    background: #fff;
    margin-top: .24rem
}

.quantify-info .info-bot .name[data-v-15322fef] {
    color: #181a20;
    font-size: .28rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1em
}

.quantify-info .info-bot .val[data-v-15322fef] {
    margin-left: .2rem;
    flex: 0 0 auto;
    color: #848e9c;
    text-align: right;
    font-size: .24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1em
}

.quantify-info .info-bot .val.on[data-v-15322fef] {
    color: #eb3f31
}

.quantify-info .info-bot .val[data-v-15322fef] .van-icon {
    font-weight: 700;
    color: #848e9c
}

.start-btn[data-v-f02e0afc] {
    width: 100%;
    height: .88rem;
    border-radius: .24rem;
    background: #000;
    color: #dcfd52;
    text-align: center;
    font-size: .32rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .28rem 0rem
}

.process[data-v-f02e0afc] {
    border-radius: .32rem;
    background: #fafbf4;
    margin-top: .4rem;
    padding: .28rem .24rem
}

.process .title[data-v-f02e0afc] {
    margin-bottom: .18rem;
    color: #000;
    font-size: .3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1em
}

.process p[data-v-f02e0afc] {
    color: #848e9c;
    font-size: .26rem;
    font-style: normal;
    font-weight: 400;
    line-height: .36rem
}

.header-right[data-v-365d94fc] {
    color: #000;
    text-align: right;
    font-size: .28rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    border-radius: .28rem;
    border: .02rem solid #4b5809;
    background: #dcfd52;
    padding: .08rem .22rem
}

.header-right img[data-v-365d94fc] {
    width: .4rem;
    height: .4rem;
    margin-left: .08rem
}
